*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
*.dbmdl
*.dbproj.schemaview
*.back.aip
*-cache/
*-SetupFiles/
*.orig
*/MsiBuildSetupFiles/
*.back*.aip
*.autosave.aip
[Pp]ackages/
TEMP_BUILD_FILE_DO_NOT_PROMOTE.cs
OctoPack/source/Samples/.octopack/OctoPack.targets
OctoPack/source/Samples/.octopack/OctoPack.Tasks.dll
_NCrunch_ReadyRoll
*.jfm